*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.navbar{
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
}
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__logo{
 width: 5%;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.nav-item{
    margin: 20px 0px;
}
.nav-link{
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: 0.3s;
    border-radius: 5px;
}
.nav-link:hover{
    background-color: rgb(161, 158, 158);
}
.number{
    background-color:#00BAFC;
    color: white;
    padding: 15px;
}
.number:hover{
    background-color: rgb(71, 71, 206);
}
.bosqich .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
.bosqich__content{
    width: 45%;
}
.bosqich__content-title{
    font-size: 30px;
    margin-bottom: 10px;
}
.bosqich__content-text{
    line-height: 2;
    margin-bottom: 20px;
}
.bosqich__content-link{
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 14px;
    background-color: #00BAFC;
    transition: 0.3s;
}
.bosqich__content-link:hover{
    background-color:  rgb(71, 71, 206);
}






.bosqich__video{
    width: 45%;
}

