*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}
.visuallyhidden { 
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
  }
.container{
    width: 1140px;
    margin: 0 auto;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.navbar{
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
}
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__logo{
 width: 5%;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.nav-item{
    margin: 20px 0px;
}
.nav-link{
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: 0.3s;
    border-radius: 5px;
}
.nav-link:hover{
    background-color: rgb(161, 158, 158);
}
.number{
    background-color:#00BAFC;
    color: white;
    padding: 15px;
}
.number:hover{
    background-color: rgb(71, 71, 206);
}
.bosqich .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 90px;
}
.bosqich__content{
    width: 45%;
}
.bosqich__content-title{
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 10px;
}
.bosqich__content-text{
    line-height: 2;
    margin-bottom: 20px;
}
.bosqich__content-link{
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 14px;
    background-color: #00BAFC;
    transition: 0.3s;
}
.bosqich__content-link:hover{
    background-color:  rgb(71, 71, 206);
}
.bosqich__video{
    width: 45%;
}
.xizmatlar__content{
    text-align: center;
    margin-bottom: 50px;
}
.xizmatlar__content-title{
    margin-bottom: 10px;
}
.xizmatlar__content-text{
    line-height: 1.5;
}
.xizmatlar-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.xizmatlar-item{
    padding: 15px 60px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin: 25px;
    transition: 0.3s;
}
.xizmatlar-item:hover{
    transform: scale(1.1);
}
.xizmatlar-link{
    text-align: center;
    margin: 50px;
}
.xizmatlar-link__buyurtma{
    text-decoration: none;
    margin: 30px;
    padding: 13px;
    color: white;
    background-color: #00BAFC;
    border-radius: 5px;
    transition: 0.3s;
}
.xizmatlar-link__sahifa{
    color: #00BAFC;
}
.xizmatlar-link__buyurtma:hover{
    background-color:  rgb(71, 71, 206);
}
.ishlaymiz .container{  
    margin: 100px;
}
.talablar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.talabalar-image{
    width: 30%;
    margin-right: 20px;
}
.talablar__content{
    width: 40%;
    margin: 20px;
}
.yechimlar{
    display: flex;
    flex-direction: row-reverse;
}
.talablar-link__section{
    text-align: center;
}
.talablar-link{
    display: inline-block;
    text-decoration: none;
    margin: 30px;
    padding: 13px;
    color: white;
    background-color: #00BAFC;
    border-radius: 5px;
    transition: 0.3s;
}
.talablar-link:hover{
    background-color:  rgb(71, 71, 206);
}